// Main
$font-color: #000;
$font-size: 1.6rem;

// Layout
$header-height: 7rem;
$footer-height: 7rem;
$header-bg-color: #fff;

$wrapper-width: 120rem;

// Sites colors
$bg-color: #f8f9fc;

$soc-icon-main-color: #0e0e0e;
$soc-icon-hover-color: #00b9ff;

$btn-join-main-color: #00b9ff;
$btn-join-hover-color: #1a568f;

$notif-error-color: #b93c34cf;
$notif-success-color: #60ad5fc7;

$profile-color: #f89b20;

// Cards colors
$card-js-color: #f7cf69;
$card-php-color: #8893c0;
$card-net-color: #642077;
$card-qa-color: #52bf77;
$card-java-color: #e12b4c;
$card-events-color: #2d99ff;
$card-blog-color: #0443a3;
$card-contacts-color: #00265f;
