.header {
  background-color: $header-bg-color;
  height: $header-height;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  animation: fromTop .8s ease-out;

  &-wrapper {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    max-width: 130px;
    flex: 0 1 100%;
  }
}
