.notification {
  position: relative;
  margin-left: auto;
  margin-right: 2rem;

  &__bell svg {
    fill: #cacaca;

    &:hover {
      cursor: pointer;
      fill: darken(#cacaca, 8);
    }
  }

  &__notification-block {
    display: none;
    position: absolute;
    min-width: 25rem;
    top: 2.2rem;
    right: 0;
    padding: 1rem 1.6rem;
    background-color: #ffffff;
    box-shadow: 0 0 2rem rgba(#000, 0.1);
  }

  .notification-toggle:checked ~ .notification__notification-block {
    display: block;
  }

  &__list {
    list-style: none;
    padding-top: 5px;
  }

  &__list-item {
    padding: 3px 5px;
    font-size: 1.3rem;
    color: #000;
    font-weight: 500;
  }
}
