*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $font-size;
  font-family: Gilroy, Geneva, Tahoma, sans-serif;
  color: $font-color;
  background-color: $bg-color;
  box-sizing: border-box;
}

.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 0 3%;
}

a {
  text-decoration: none;
}
